<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>13.0</string>
	<key>CFBundleDisplayName</key>
	<string>JustDelivered</string>
	<key>CFBundleIdentifier</key>
	<string>com.InfiniteOptions.JustDelivered</string>
	<key>UILaunchStoryboardName</key>
	<string>JustDelivered</string>
	<key>CFBundleName</key>
	<string>JustDelivered</string>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcon.appiconset</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>Google Auth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.97916302968-f22boafqno1dicq4a0eolpr6qj8hkvbm</string>
			</array>
		</dict>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>This app needs access to the camera to take photos.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app needs access to photos.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This app needs access to microphone.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>This app needs access to the photo gallery.</string>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1.2</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Turning on location services allows us to display your current timezone, city and state.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Turning on location services allows us to display your current timezone, city and state.</string>
	<key>CFBundleVersion</key>
	<string>45</string>
</dict>
</plist>
